@import "tailwindcss";

@plugin './hero';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #36454F;
}

.layout {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-image: url("/sidebar.png");
  background-size: contain;
}

.main-content {
  width: 70%;
  min-width: 300px;
  padding: 1em;
}

